.main-section__features {
  padding: 2rem;
  text-align: center;
  h2 {
    grid-column-start: 6;
  }
  p {
    text-align: left;
  }
  img {
    margin: 5rem 0 0 0;
  }
}

.main-section__cards {
  background-image: url(../img/bg-price.svg);
  //SVG modificado para ignorar aspect ratio
  background-size: 180% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40vh 2rem 2rem 2rem;
  h2 {
    margin-left: auto;
    margin-right: auto;
    color: $white;
    text-align: center;
  }
}

@media (min-width: 665px) {
  .main-section__features {
    padding: 2rem 10rem;
  }
}

@media (min-width: 800px) {
  .main-section__features {
    padding: 2rem 20rem;
  }
}

//ANIMATION
.animation-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(0px, 10px, 0px);
  transition-delay: 1;
  position: relative;
}

.animation-element.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
